[Desktop Entry]
Type=Application
Name=Cloudflare One WARP Tray
Comment=Cloudflare One WARP system tray and control panel
Exec=cloudflare-one-warp-tray
Icon=cloudflare-one-warp
Terminal=false
Categories=Network;
Hidden=true
NoDisplay=true
X-GNOME-Autostart-enabled=true
StartupNotify=false
