[Desktop Entry]
Type=Application
Name=Cloudflare One WARP
Comment=Unofficial cross-platform Cloudflare One client for warp-cli
Exec=cloudflare-one-warp
Icon=cloudflare-one-warp
Terminal=false
Categories=Network;
Keywords=Cloudflare;WARP;Zero Trust;Cloudflare One WARP;VPN;DNS;
StartupNotify=true
